@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    overflow-x: auto;
}

code {
    font-family: Consolas, monospace;
}